In [2]:
k={1,1,1,2,2,1,1}
k

{1, 2}

In [3]:
myset = {"apple",89,"banana", "cherry", False, 1,True,0,5,9,90,8,90}
myset

{1, 5, 8, 89, 9, 90, False, 'apple', 'banana', 'cherry'}

In [4]:
print(len(myset))

10

In [5]:
a={1,1,2,2,2,2,3,4,4}
a

{1, 2, 3, 4}

In [6]:
mylist=["hello",1,2,2,2,3,454,"hi"]
myset=set(mylist)
myset

{1, 2, 3, 454, 'hello', 'hi'}

In [8]:
s = {10, 20, 30}
print(s.pop())
print(s)

10
{20, 30}

In [9]:
#set operations
#UNION(OTHERS)
set1 = {"apple", "banana", "orange",1}
set2 = {1, 2, 3,"apple",6,8,"banana"}

set3 = set1.union(set2)
print(set3)

{'banana', 1, 2, 3, 6, 8, 'apple', 'orange'}

In [10]:
a={1,2}
b={2,3}
print(a.union(b))

{1, 2, 3}

In [11]:
#INTERSECTION
print(a.intersection(b))

{2}

In [12]:
#diffrence
print(a.difference(b))

{1}

In [13]:
#symmetric_difference

print(a.symmetric_difference(b))

{1, 3}

In [14]:
#UPDATE VARIANTS
#update() → Union update

#intersection_update() → Keep only common elements

a = {1, 2, 3}
b = {2, 3, 4}
a.intersection_update(b)
print(a)

{2, 3}

In [16]:
#difference_update
a = {1, 2, 3}
b = {2, 3}
a.difference_update(b)
print(a)

{1}

In [15]:
#symmetric_difference_update

a = {1, 2, 3}
b = {2, 3, 4}
a.symmetric_difference_update(b)
print(a)

{1, 4}

In [17]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'Elena', 'a', 'cherry', 'John', 'b', 'c', 'bananas', 'apple'}