In [2]:
k = "Hi", "Hello"
K= replace('e', 'k')

NameError: name 'replace' is not defined

In [4]:
k = ("Hi", "Hello", "How")
M = list(k)
M.remove("Hello")
k = tuple(M)
print(k)

('Hi', 'How')

In [1]:
myset = {"apple", "banana", "cherry"}

myset.remove("banana")

print(myset)

{'apple', 'cherry'}

In [2]:
myset = { "banana","apple","hji",9,78,"hello"}
print(myset)
x = myset.pop()

print(x)

{'banana', 'hji', 9, 'apple', 78, 'hello'}
banana

In [8]:
myset = {"apple", "banana", "cherry"}
myset.clear()
print(myset)
del myset
myset

set()

In [6]:
D = {"k" : 90, "L" : 80, "M" : 60}
print(D)

{'k': 90, 'L': 80, 'M': 60}

In [9]:
D = {"k" : 90, "L" : 80, "M" : 60}
print(D.keys())

dict_keys(['k', 'L', 'M'])

In [10]:
D = {"k" : 90, "L" : 80, "M" : 60}
print(D.values())

dict_values([90, 80, 60])

In [11]:
D = {"k" : 90, "L" : 80, "M" : 60}
print(D.items())

dict_items([('k', 90), ('L', 80), ('M', 60)])

In [12]:
D = {"k" : 90, "L" : 80, "M" : 60}

In [13]:
t=(1,2,3,4,6)
l=list(t)
l[2]=7
t=tuple(l)
t

(1, 2, 7, 4, 6)